includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Function env not found#'
        - '#Unsafe usage of new static\(\)#'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    # These rules will check for missing type declarations in later upgrades
    # checkMissingIterableValueType: true
    # checkGenericClassInNonGenericObjectType: true
    # checkUninitializedProperties: true
    # checkImplicitMixed: true
    # checkBenevolentUnionTypes: true