includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Function env not found#'
        - '#Unsafe usage of new static\(\)#'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    # Enable some additional checks
    checkMissingIterableValueType: true
    checkUninitializedProperties: true
    checkGenericClassInNonGenericObjectType: true
    # These rules will be enabled in future upgrades
    # checkImplicitMixed: true
    # checkBenevolentUnionTypes: true